.headlinesHeading {
    margin-left: 16px;
    margin-top: 12px;
}

.main {
    width: 80%;
    h2 {
        padding-left: 10px;
        margin-top: 11px;
        margin-bottom: 14px;
    }

}

.button {
    margin-top: 10px;
    width: 315px;
    padding: 15px;
    background-color: #4488D0;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    border: 1px solid #4488D0;
    transition: all 0.3s;
    &:hover {
        transform: scale(1.005);
        cursor: pointer;
        box-shadow: 0 0 5px  #4488D0;
    }
    &:focus {
        outline: none;
    }
}

.form {
    position: relative;
    margin: auto;
    margin-top: 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        color: white;
        margin-bottom: 30px;
    }
    
    input[type=text], input[type=password], select, textarea {
        padding: 15px;
        width: 600px;
        border: 1px solid gray;
        margin: 10px;
        

        &:focus {
            outline: none;
            box-shadow: 0 0 10px 0px #4488D0;
        }
    }

    select {
        width: 630px;
        color: grey;
        padding-left: 13px
    }

    textarea {
        min-height: 300px;
    }
}


@media screen and (max-width: 1200px) {
    .main {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .form {
        margin-top: 30%;
        input[type=text], input[type=password], textarea {
            width: 80%;
        }
        h1 {
            font-size: 20px;
        }

        select {
            width: 85%;
        }

       
    }
}

@media screen and (max-width: 400px) {
    .button {
        width: 70%;
    }
}

