@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.articleParagraph {
    padding: 25px;

    &::first-letter {
        font-family: 'Balsamiq Sans', cursive;
                float: left;
        font-size: 6rem;
        line-height: 0.65;
        margin: 0.2em 0.2em 0.12em 0;
    }
}