@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    font-weight: 500;
    background-color: rgba(0,0,0,0.8);
    // -webkit-box-shadow: 0 0 5px white;
    //         box-shadow: 0 0 5px white;
    z-index: 100;
    
}

.headerNavigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logoWrapper {
    color: white;
    margin-left: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}


.logo {    
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Pattaya';
    margin-right: 20px;
    font-size: 32px;
    padding-right: 20px;
    border-right: solid 1px white;
}

.logoNav {
    text-decoration: none;
    color: white;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.listItems {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.listItem {
    list-style: none;
    margin: 0 12px;
    color: white;
}

.navListItem {
    text-decoration: none;
    color: white;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.navListItem:hover {
    color: #43ABC9
}


.mobile {
    display: none;
}


input[type=text] {
    color:	#492201;
    width: 160px;
    padding: 6px 6px;
    margin: 0;
    display: inline-block;
    border: 1px solid white;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
  }
  input[type=text]:focus {
      outline: none;
      -webkit-box-shadow: 0 0 2px #492201;
              box-shadow: 0 0 2px #492201;;
      width: 190px;
  }
  ::-webkit-input-placeholder {
    color: #43ABC9;
  }
  ::-moz-placeholder {
    color: #43ABC9;
  }
  :-ms-input-placeholder {
    color: #43ABC9;
  }
  ::-ms-input-placeholder {
    color: #43ABC9;
  }
  ::placeholder {
    color: #43ABC9;
  }

  @media screen and (max-width: 1200px) {
  
    .headerNavigation {
        display: none;
    }
  
    .mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    
    .headerLogoSubtitle {
        font-size: 14px;
        margin-right: 20px;
        color: white;
    }
    .navListItem{
        color: white;
        font-size: 30px;
    }
    .logo {
        margin-left: 0px;
        font-size: 20px;
    }
  }

  @media screen and (max-width: 400px) {
    .headerLogoSubtitle {
        font-size: 11px;
        margin-right: 13px;
    }
    .navListItem{
        color: white;
        font-size: 21px;
    }
    .logo {
        padding-right: 13px;
        margin-right: 13px;
        margin-left: 0px;
        font-size: 17px;
    }
}