.header {
    position: sticky;
    top: 0;
    font-weight: 500;
    background-color: #4180a1;
    box-shadow: 0 0 5px black;
    z-index: 100;
}

.headerNavigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logoWrapper {
    color: white;
    margin-left: 12px;
    display: flex;
    align-items: center;
}


.logo {    
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Pattaya';
    margin-right: 20px;
    font-size: 32px;
    padding-right: 20px;
    border-right: solid 1px white;
}

.logoNav {
    text-decoration: none;
    color: white;
    transition: all .2s ease;
}

.listItems {
    display: flex;
    align-items: center;
}

.listItem {
    list-style: none;
    margin: 0 12px;
    color: white;
}

.navListItem {
    text-decoration: none;
    color: white;
    transition: all .2s ease;
}

.navListItem:hover {
    color: #43ABC9
}


.mobile {
    display: none;
}


input[type=text] {
    color:	#492201;
    width: 160px;
    padding: 6px 6px;
    margin: 0;
    display: inline-block;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing: border-box;
    transition: all .2s ease;
  }
  input[type=text]:focus {
      outline: none;
      box-shadow: 0 0 2px #492201;;
      width: 190px;
  }
  ::placeholder {
    color: #43ABC9;
  }