.gridContainer {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
} 
    .gridCellsContainer {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr;
        grid-template-columns: repeat(12, 1fr);
        grid-auto-rows: 250px;
        grid-gap: 16px;
        margin: 10px 16px 21px 18px;
    }
    
    
.gridCell {
   display: flex;
}
  
    
    .gridCell:nth-child(n) {
        -ms-grid-column: span 3;
            grid-column-start: span 3;
    }
    
    .gridCell:nth-child(1), .gridCell:nth-child(10) {
        grid-column-start: 1;
        grid-column-end: 10;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    
    @media screen and (max-width: 1200px) {
        .gridCell:nth-child(n) {
            -ms-grid-column: span 6;
                grid-column-start: span 6;
        }
        .gridCell:nth-child(1) {
            grid-column: auto;
            grid-row: auto;
            -ms-grid-column: span 6;
            grid-column-start: span 6;
        }

        .gridCell:nth-child(7) {
            display: none;
        }
    }
    
    @media screen and (max-width: 800px) {
        .gridCell:nth-child(n) {
            -ms-grid-column: span 12;
                grid-column-start: span 12;
        }
    }