.loginOverlay {
  opacity:    0.9; 
  background: #000; 
  width:      100%;
  height:     100%; 
  z-index:    10000;
  top:        0; 
  left:       0; 
  position:   fixed; 
  
}

.loginCloseButtonWrapper {
    float: right;
    margin: 20px;
    font-size: 40px;
    color: white;
    &:hover {
        cursor: pointer;
        color: #43ABC9;
        i {
            border-color: #43ABC9;
        }
    }
    i {
        border: 3px solid white;
        padding: 0 5px;
        border-radius: 50%;
    }
}



    // button {
    //     margin-top: 10px;
    //     width: 315px;
    //     padding: 15px;
    //     background-color: #4488D0;
    //     border-radius: 10px;
    //     color: white;
    //     font-size: 16px;
    //     border: 1px solid #4488D0;
        
    //     &:hover {
    //         cursor: pointer;
    //         box-shadow: 0 0 5px  #4488D0;
    //     }
    // }
.navToRegisterLink {
    font-weight: 600;
    margin-top: 20px;
    text-decoration: none;
    color: rgb(179, 174, 174);
}

@media screen and (max-width: 800px) {

    .loginCloseButtonWrapper {
        margin: 10px;
        font-size: 30px;
    }

    .navToRegisterLink {
        text-align: center;
        font-size: 13px;
        width: 90%;
    }
}