.otherNewsHeading {
    margin-left: 20px;
    margin-bottom: 0;
}
.otherNews {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.otherNewsCard {
    margin: 20px;
}

.otherNewsCard:nth-child(even) {
    margin-right: 0px;
    margin-left: 0px;
}